
@-webkit-keyframes MenuAnimOut2 {
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut2 {
    100% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn2 {
    0% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn2 {
    0% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut2 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: '';
}

.dl-menuwrapper button {
    background: #444;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #333;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    
    .page-content .row{
        margin-bottom: 0px;
    }
    .tb-megamenu .nav > li > a {

     line-height: 27px;
    }
    .page-content *[class*="col-"], 
    aside *[class*="col-"], 
    *[class*="col-"].footer-widget-container,
	#footer .block {
        margin-bottom: 80px;
    }

    *[class*="col-"].footer-widget-container:last-child{
        margin-bottom: 0;
    }

    *[class*="col-"] *[class*="col-"]{
        margin-left: 0 !important;
    }

    /* TOP BAR 
    ========================================================================= */
    #top-bar-wrapper #top-bar{
        width: 100%;
    }

    #top-bar-wrapper #top-bar #quick-links{
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    #top-bar-wrapper #top-bar #quick-links li a, #top-bar-wrapper #top-bar #quick-links li span{
        border-right: none;
    }

    #top-bar-wrapper #top-bar #quick-links li{
        width: 100%;
        text-align: center;
    }

    #top-bar-wrapper #top-bar #social-links{
        max-width: 100%;
        float: none;
        display: table;
        margin: 0 auto;
    }

    #top-bar-wrapper #top-bar #social-links li:first-child{
        margin-left: 0;
    }

    /* NAVIGATION, LOGO 
    ========================================================================= */
    .navbar-nav.pi-nav{
        display: none;
    }

    #dl-menu{
        display: block;
        max-width: 260px;
    }

    .collapse.navbar-collapse{
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar-header,
    #header.header-type-1 .nav-left .navbar-header{
        float: none;
    }

    .logo{
        display: table;
        margin: 0px auto;
    }

    #search{
        margin-left: 0;
    }

    #search,
    .search-submit{
        min-height: 45px;
    }

    /* PAGES, ELEMENTS STYLES
    ========================================================================= */
    .info-box .text-container .big{
        word-wrap: break-word;
    }

    .info-box{
        display: block;
    }

    .info-box .icon-container{
        width: 100%;
        margin-bottom: 20px;
    }

    .info-box .icon-container i{
        text-align: center;
        width: 100%;
    }

    .info-box .text-container{
        padding-left: 0;
        text-align: center;
    }

    .process-perspective .icon{
        margin: 0 auto;
        float: none;
    }

    .process-perspective h1, .process-perspective h2, .process-perspective h3, .process-perspective h4, .process-perspective h5, .process-perspective h6, 
    .process-perspective p{
        padding-left: 0;
        text-align: center;
    }
    
    .tabs.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical{
        width: 100%;
        margin-top: 20px;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
    }

    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .call-to-action .text{
        width: 100%;
        float: none;
        margin-bottom: 20px;
        text-align: center;
    }

    .call-to-action .btn{
        float: none;
        display: table;
        margin: 0 auto;
        top: 0;
    }

    #copyright-container p, #copyright-container a{
        text-align: center;
    }

    #copyright-container .footer-breadcrumb{
        float: none;
        margin: 0 auto;
        display: table;
        margin-top: 5px;
    }

    .container-fluid #portfolioitems{
        margin-bottom: 50px;
    }

    .gallery-six-col .gallery-item{
        width: 33.333333%;
    }

    .clients-list li{
        margin-right: 0;
    }

    .service-box-3{
        width: 100%;
    }

    .team-hover .team-member{
        width: 50%;
    }

    .row-equal-height *[class^="col-"]{
        display: block;        
    }

    .process-box-container.pbc-four-cols .process-box{
        width: 100%;
    }

    .page-content.video-background{
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-posts.isotope.masonry-full li.blog-post.isotope-item{
        width: 100%;
        margin-bottom: 50px;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .header-type-2 .header-inner .container-fluid .main-nav{
        width: 100%;
    }

    .navbar{
        min-height: 45px;
    }

    .header-type-2.dark .container-fluid{
        background-color: transparent;
    }

    .header-type-2 #search, .header-type-2 .search-submit{
        min-height: 45px;
        background-color: #333;
    }

    .header-type-2 .logo{
        display: table;
        float: none;
    }

    .header-type-2 #search, .header-type-2.light .search-submit{
        background-color: #fff;
    }

    .header-type-2.light .header-inner .container-fluid{
        background-color: transparent;
        border: none;
    }

    .header-type-2 .header-inner .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;        
    }

    .page-title-2 .pt-title,
    .page-title-3 .pt-title{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .page-title-2 .pt-info,
    .page-title-3 .pt-info{
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .page-title-3 .pt-title:after{
        left: 50%;
        margin-left: -35px;
    }

    .page-title-3 .pt-info{
        margin-top: 20px;
    }

    .page-title-5 .title-container .title h1{
        font-size: 80px;
        line-height: 80px;
    }

    .page-title-6 .title{
        text-align: center;
    }

    .page-title-7 .title-container .title h1{
        text-align: center;
    }

    .history-list .history-list-item .year-img-container{
        width: 100%;
        margin-bottom: 20px;
    }

    .history-list .history-list-item .history-text{
        width: 100%;
        padding-left: 0;
    }

    .history-list-item .btn{
        margin-bottom: 20px;
    }

    *[class*="col-"].custom-background:last-of-type{
        margin-bottom: 80px;
    }

    *[class*="col-"].custom-background{
        margin-bottom: 0;
    }

    .team-member figure img{
        width: 100%;
    }

    .team-horizontal .team-member img{
        display: table;
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
    }

    .team-horizontal .team-member .team-member-details{
        padding-left: 0;
        text-align: center;
    }

    .team-member .member-social{
        width: 100%;
        display: inline-block;
        margin: 0 auto;
    }

    .team-horizontal .team-member{
        padding: 0;
        border: none;
    }

    .wpcf7-icon-2 fieldset{
        width: 100%;
        padding-right: 0;
    }

    .wpcf7.simple-2 fieldset{
        width: 100%;
        padding-right: 0;
    }

    .pricing-table-col,
    .pricing-table-col.one-third{
        width: 100%;
    }

    .col-md-12 .clients-list li{
        width: 47%;
        margin-left: 0;
    }

    #under-construction .page-content .container{
        left: 0;
        margin-left: 0;
        top: 120px;
    }

    .under-construction-container-inner{
        margin-top: 0 !important;
    }

    .counter .county-days, .counter .county-hours, .counter .county-minutes, .counter .county-seconds{
        font-size: 24px;
    }

    .counter .county-label-days, .counter .county-label-hours, .counter .county-label-minutes, .counter .county-label-seconds{
        font-size: 15px;
    }

    .countdown-container-inner{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .countdown-container{
        height: auto !important;
        margin-top: 200px;
    }

    .subscribe-container-outter{
        height: auto !important;
        padding-top: 50px;
    }

    .portfolio-item-container.portfolio-1-col .portfolio-img, .portfolio-item-container.portfolio-1-col figcaption{
        width: 100%;
    }

    .portfolio-gallery-two-cols .isotope-item,
    .portfolio-gallery-three-cols .isotope-item{
        width: 100%;
    }

    .blog-post .post-info{
        margin: 0 auto;
        width: 100%;
    }

    .blog-post .post-info li{
        margin-right: 10px;
        border: none;
    }

    .blog-post .post-media, .blog-post .post-body{
        padding-left: 0;
        float: left;
        width: 100%;
    }

    .blog-posts > li.pagination{
        margin-bottom: 50px;
    }

    .blog-post-small .format-quote .post-body, .blog-post-small .format-link .post-body, .blog-post-small .format-audio .post-body{
        padding-left: 0;
    }

    .blog-post-small .format-audio .post-media{
        padding-left: 0;
        float: left;
    }

    .blog-posts.isotope li.blog-post.isotope-item{
        width: 100%;
    }

    .post-timeline{
        background: none;
    }

    .post-timeline-item,
    .post-timeline-item.post-timeline-left,
    .post-timeline-item.post-timeline-right{
        width: 100%;
        padding: 0;
    }

    .post-timeline-item.post-timeline-left::before, .post-timeline-item.post-timeline-right::before,
    .post-timeline-item.post-timeline-left::after, .post-timeline-item.post-timeline-right::after{
        display: none;
    }
    
    .gallery-three-col .gallery-item,
    .gallery-four-col .gallery-item{
        width: 100%;
    }
    
    .fa-icons li, .linecons li{
        width: 100%;
    }
    
    .process-box-container.pbc-three-cols .process-box{
        width: 100%;
    }
    
    .scroll-up{
        right: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    
    .page-content .row{
        margin-bottom: 0px;
    }

    .page-content *[class*="col-"], 
    aside *[class*="col-"], 
    *[class*="col-"].footer-widget-container,
	#footer .block {
        margin-bottom: 80px;
    }

    *[class*="col-"].footer-widget-container:last-child{
        margin-bottom: 0;
    }

    *[class*="col-"] *[class*="col-"]{
        margin-left: 0 !important;
    }

    /* TOP BAR 
    ========================================================================= */
    #top-bar-wrapper #top-bar{
        width: 100%;
    }

    #top-bar-wrapper #top-bar #quick-links{
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    #top-bar-wrapper #top-bar #quick-links li a, #top-bar-wrapper #top-bar #quick-links li span{
        border-right: none;
    }

    #top-bar-wrapper #top-bar #quick-links li{
        width: 100%;
        text-align: center;
    }

    #top-bar-wrapper #top-bar #social-links{
        max-width: 100%;
        float: none;
        display: table;
        margin: 0 auto;
    }

    #top-bar-wrapper #top-bar #social-links li:first-child{
        margin-left: 0;
    }

    /* NAVIGATION, LOGO, HEADER 
    ========================================================================= */
    .header-info-widgets{
        float: left;
        width: 100%;
    }
    
    .header-info-widgets ul{
        margin: 0 auto;
        display: table;
    }
    
    .navbar-nav.pi-nav{
        display: none;
    }

    #dl-menu{
        display: block;
        max-width: 260px;
    }

    .collapse.navbar-collapse{
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar-header,
    #header.header-type-1 .nav-left .navbar-header{
        float: none;
    }

    .logo{
        display: table;
        margin: 30px auto;
    }

    #search{
        margin-left: 0;
        right: 30px;
    }

    #search,
    .search-submit{
        min-height: 45px;
    }

    /* PAGES, ELEMENTS STYLES
    ========================================================================= */
    .info-box .text-container .big{
        word-wrap: break-word;
    }

    .info-box{
        display: block;
    }

    .info-box .icon-container{
        width: 100%;
        margin-bottom: 20px;
    }

    .info-box .icon-container i{
        text-align: center;
        width: 100%;
    }

    .info-box .text-container{
        padding-left: 0;
        text-align: center;
    }

    .process-perspective .icon{
        margin: 0 auto;
        float: none;
    }

    .process-perspective h1, .process-perspective h2, .process-perspective h3, .process-perspective h4, .process-perspective h5, .process-perspective h6, 
    .process-perspective p{
        padding-left: 0;
        text-align: center;
    }
    
    .tabs.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical{
        width: 100%;
        margin-top: 20px;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
    }

    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .call-to-action .text{
        width: 100%;
        float: none;
        margin-bottom: 20px;
        text-align: center;
    }

    .call-to-action .btn{
        float: none;
        display: table;
        margin: 0 auto;
        top: 0;
    }

    #copyright-container p, #copyright-container a{
        text-align: center;
    }

    #copyright-container .footer-breadcrumb{
        float: none;
        margin: 0 auto;
        display: table;
        margin-top: 5px;
    }

    .container-fluid #portfolioitems{
        margin-bottom: 50px;
    }

    *[class*="col-"].isotope-item{
        width: auto;
        float: none;
        display: table;
        margin: 0 auto 30px !important;
        position: inherit !important;
        transform: none !important;
        left: initial !important;
        top: initial !important;
    }
    
    .gallery-six-col .gallery-item{
        width: 33.333333%;
    }

    .clients-list li{
        margin-right: 0;
    }

    .service-box-3{
        width: 100%;
    }

    .team-hover .team-member{
        width: 50%;
    }

    .row-equal-height *[class^="col-"]{
        display: block;        
    }

    .process-box-container.pbc-four-cols .process-box{
        width: 100%;
    }
    
    .page-content.video-background{
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-posts.isotope.masonry-full li.blog-post.isotope-item{
        width: 100%;
        margin-bottom: 50px;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .header-type-2 .header-inner .container-fluid .main-nav{
        width: 100%;
    }

    .navbar{
        min-height: 45px;
    }

    .header-type-2.dark .container-fluid{
        background-color: transparent;
    }

    .header-type-2 #search, .header-type-2 .search-submit{
        min-height: 45px;
        background-color: #333;
    }

    .header-type-2 .logo{
        display: table;
        float: none;
    }

    .header-type-2 #search, .header-type-2.light .search-submit{
        background-color: #fff;
    }

    .header-type-2.light .header-inner .container-fluid{
        background-color: transparent;
        border: none;
    }

    .header-type-2 .header-inner .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;        
    }

    .page-title-2 .pt-title,
    .page-title-3 .pt-title{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .page-title-2 .pt-info,
    .page-title-3 .pt-info{
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .page-title-3 .pt-title:after{
        left: 50%;
        margin-left: -35px;
    }

    .page-title-3 .pt-info{
        margin-top: 20px;
    }

    .page-title-5 .title-container .title h1{
        font-size: 80px;
        line-height: 80px;
    }

    .page-title-6 .title{
        text-align: center;
    }

    .page-title-7 .title-container .title h1{
        text-align: center;
    }

    .history-list .history-list-item .year-img-container{
        width: 100%;
        margin-bottom: 20px;
    }

    .history-list .history-list-item .history-text{
        width: 100%;
        padding-left: 0;
    }

    .history-list-item .btn{
        margin-bottom: 20px;
    }

    *[class*="col-"].custom-background:last-of-type{
        margin-bottom: 80px;
    }

    *[class*="col-"].custom-background{
        margin-bottom: 0;
    }

    .team-member figure img{
        width: 100%;
    }

    .team-horizontal .team-member img{
        display: table;
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
    }

    .team-horizontal .team-member .team-member-details{
        padding-left: 0;
        text-align: center;
    }

    .team-member .member-social{
        width: 100%;
        display: inline-block;
        margin: 0 auto;
    }

    .team-horizontal .team-member{
        padding: 0;
        border: none;
    }

    .wpcf7-icon-2 fieldset{
        width: 100%;
        padding-right: 0;
    }

    .wpcf7.simple-2 fieldset{
        width: 100%;
        padding-right: 0;
    }

    .pricing-table-col,
    .pricing-table-col.one-third{
        width: 100%;
    }

    .col-md-12 .clients-list li{
        width: 47%;
        margin-left: 0;
    }

    #under-construction .page-content .container{
        left: 0;
        margin-left: 0;
        top: 120px;
    }

    .under-construction-container-inner{
        margin-top: 0 !important;
    }

    .counter .county-days, .counter .county-hours, .counter .county-minutes, .counter .county-seconds{
        font-size: 24px;
    }

    .counter .county-label-days, .counter .county-label-hours, .counter .county-label-minutes, .counter .county-label-seconds{
        font-size: 15px;
    }

    .countdown-container-inner{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .countdown-container{
        height: auto !important;
        margin-top: 200px;
    }

    .subscribe-container-outter{
        height: auto !important;
        padding-top: 50px;
    }

    .portfolio-item-container.portfolio-1-col .portfolio-img, .portfolio-item-container.portfolio-1-col figcaption{
        width: 100%;
    }

    .portfolio-gallery-two-cols .isotope-item,
    .portfolio-gallery-three-cols .isotope-item{
        width: 100%;
    }

    .blog-post .post-info{
        margin: 0 auto;
        width: 100%;
    }

    .blog-post .post-info li{
        margin-right: 10px;
        border: none;
    }

    .blog-post .post-media, .blog-post .post-body{
        padding-left: 0;
        float: left;
        width: 100%;
    }

    .blog-posts > li.pagination{
        margin-bottom: 50px;
    }

    .blog-post-small .format-quote .post-body, .blog-post-small .format-link .post-body, .blog-post-small .format-audio .post-body{
        padding-left: 0;
    }

    .blog-post-small .format-audio .post-media{
        padding-left: 0;
        float: left;
    }

    .blog-posts.isotope li.blog-post.isotope-item{
        width: 100%;
    }

    .post-timeline{
        background: none;
    }

    .post-timeline-item,
    .post-timeline-item.post-timeline-left,
    .post-timeline-item.post-timeline-right{
        width: 100%;
        padding: 0;
    }

    .post-timeline-item.post-timeline-left::before, .post-timeline-item.post-timeline-right::before,
    .post-timeline-item.post-timeline-left::after, .post-timeline-item.post-timeline-right::after{
        display: none;
    }
    
    .gallery-three-col .gallery-item,
    .gallery-four-col .gallery-item{
        width: 100%;
    }
    
    .fa-icons li, .linecons li{
        width: 100%;
    }
    
    .process-box-container.pbc-three-cols .process-box{
        width: 100%;
    }
    
    .process-box-circle .icon-container,
    .process-box-circle .icon-container i{
        width: 300px !important;
        height: 300px !important;
    }

    .page-title-7 .breadcrumbs-container .breadcrumb{
        float: none;
        display: table;
        margin: 0 auto;
    }
    
    .scroll-up{
        right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    
    .page-content .row{
        margin-bottom: 0px;
    }

    .page-content *[class*="col-"], 
    aside *[class*="col-"], 
    *[class*="col-"].footer-widget-container,
	#footer .block {
        margin-bottom: 80px;
    }

    *[class*="col-"].footer-widget-container:last-child{
        margin-bottom: 0;
    }

    *[class*="col-"] *[class*="col-"]{
        margin-left: 0 !important;
    }

    /* TOP BAR 
    ========================================================================= */
    #top-bar-wrapper #top-bar{
        width: 100%;
    }

    #top-bar-wrapper #top-bar #quick-links{
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    #top-bar-wrapper #top-bar #quick-links li a, #top-bar-wrapper #top-bar #quick-links li span{
        border-right: none;
    }

    #top-bar-wrapper #top-bar #quick-links li{
        width: 100%;
        text-align: center;
    }

    #top-bar-wrapper #top-bar #social-links{
        max-width: 100%;
        float: none;
        display: table;
        margin: 0 auto;
    }

    #top-bar-wrapper #top-bar #social-links li:first-child{
        margin-left: 0;
    }

    /* NAVIGATION, LOGO, HEADER 
    ========================================================================= */
    .header-info-widgets{
        float: left;
        width: 100%;
    }
    
    .header-info-widgets ul{
        margin: 0 auto;
        display: table;
    }
    
    .navbar-nav.pi-nav{
        display: none;
    }

    #dl-menu{
        display: block;
        max-width: 260px;
    }

    .collapse.navbar-collapse{
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar-header,
    #header.header-type-1 .nav-left .navbar-header{
        float: none;
    }

    .logo{
        display: table;
        margin: 30px auto;
    }

    #search{
        margin-left: 0;
        right: 30px;
    }

    #search,
    .search-submit{
        min-height: 45px;
    }

    /* PAGES, ELEMENTS STYLES
    ========================================================================= */
    .info-box .text-container .big{
        word-wrap: break-word;
    }

    .info-box{
        display: block;
    }

    .info-box .icon-container{
        width: 100%;
        margin-bottom: 20px;
    }

    .info-box .icon-container i{
        text-align: center;
        width: 100%;
    }

    .info-box .text-container{
        padding-left: 0;
        text-align: center;
    }

    .process-perspective .icon{
        margin: 0 auto;
        float: none;
    }

    .process-perspective h1, .process-perspective h2, .process-perspective h3, .process-perspective h4, .process-perspective h5, .process-perspective h6, 
    .process-perspective p{
        padding-left: 0;
        text-align: center;
    }
    
    .tabs.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical{
        width: 100%;
        margin-top: 20px;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
    }

    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .call-to-action .text{
        width: 100%;
        float: none;
        margin-bottom: 20px;
        text-align: center;
    }

    .call-to-action .btn{
        float: none;
        display: table;
        margin: 0 auto;
        top: 0;
    }

    #copyright-container p, #copyright-container a{
        text-align: center;
    }

    #copyright-container .footer-breadcrumb{
        float: none;
        margin: 0 auto;
        display: table;
        margin-top: 5px;
    }

    .container-fluid #portfolioitems{
        margin-bottom: 50px;
    }

    *[class*="col-"].isotope-item{
        width: auto;
        float: none;
        display: table;
        margin: 0 auto 30px !important;
        position: inherit !important;
        transform: none !important;
        left: initial !important;
        top: initial !important;
    }
    
    .gallery-six-col .gallery-item{
        width: 33.333333%;
    }

    .clients-list li{
        margin-right: 0;
    }

    .service-box-3{
        width: 100%;
    }

    .row-equal-height *[class^="col-"]{
        display: block;        
    }

    .process-box-container.pbc-four-cols .process-box{
        width: 100%;
    }
    
    .page-content.video-background{
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-posts.isotope.masonry-full li.blog-post.isotope-item{
        width: 100%;
        margin-bottom: 50px;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .header-type-2 .header-inner .container-fluid .main-nav{
        width: 100%;
    }

    .navbar{
        min-height: 45px;
    }

    .header-type-2.dark .container-fluid{
        background-color: transparent;
    }

    .header-type-2 #search, .header-type-2 .search-submit{
        min-height: 45px;
        background-color: #333;
    }

    .header-type-2 .logo{
        display: table;
        float: none;
    }

    .header-type-2 #search, .header-type-2.light .search-submit{
        background-color: #fff;
    }

    .header-type-2.light .header-inner .container-fluid{
        background-color: transparent;
        border: none;
    }

    .header-type-2 .header-inner .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;        
    }

    .page-title-2 .pt-title,
    .page-title-3 .pt-title{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .page-title-2 .pt-info,
    .page-title-3 .pt-info{
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .page-title-3 .pt-title:after{
        left: 50%;
        margin-left: -35px;
    }

    .page-title-3 .pt-info{
        margin-top: 20px;
    }

    .page-title-5 .title-container .title h1{
        font-size: 80px;
        line-height: 80px;
    }

    .page-title-6 .title{
        text-align: center;
    }

    .page-title-7 .title-container .title h1{
        text-align: center;
    }

    .history-list .history-list-item .year-img-container{
        width: auto;
        margin-bottom: 20px;
    }

    .history-list .history-list-item .history-text{
        width: auto;
        padding-left: 0;
    }

    .history-list-item .btn{
        margin-bottom: 20px;
    }

    *[class*="col-"].custom-background:last-of-type{
        margin-bottom: 80px;
    }

    *[class*="col-"].custom-background{
        margin-bottom: 0;
    }

    .team-member figure{
        margin: 0 auto;
        display: table;
        width: auto;
    }

    .team-horizontal .team-member img{
        display: table;
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
    }

    .team-horizontal .team-member .team-member-details{
        padding-left: 0;
        text-align: center;
    }

    .team-member .member-social{
        width: auto;
        display: table;
        margin: 0 auto;
    }

    .team-horizontal .team-member{
        padding: 0;
        border: none;
    }

    .pricing-table-col,
    .pricing-table-col.one-third{
        width: 100%;
    }

    .col-md-12 .clients-list li{
        width: 32%;
        margin-left: 0;
    }

    #under-construction .page-content .container{
        left: auto;
        margin-left: auto;
        top: 120px;
        position: inherit;
    }

    .under-construction-container-inner{
        margin-top: 0 !important;
    }

    .counter .county-days, .counter .county-hours, .counter .county-minutes, .counter .county-seconds{
        font-size: 24px;
    }

    .counter .county-label-days, .counter .county-label-hours, .counter .county-label-minutes, .counter .county-label-seconds{
        font-size: 15px;
    }

    .countdown-container-inner{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .countdown-container{
        height: auto !important;
        margin-top: 200px;
    }

    .subscribe-container-outter{
        height: auto !important;
        padding-top: 50px;
    }

    .portfolio-item-container.portfolio-1-col .portfolio-img, .portfolio-item-container.portfolio-1-col figcaption{
        width: 100%;
    }

    .portfolio-gallery-two-cols .isotope-item,
    .portfolio-gallery-three-cols .isotope-item{
        width: 100%;
    }

    .portfolio-item-container.portfolio-1-col figcaption{
        height: auto !important;
        min-height: 1px !important;
    }

    .blog-posts > li.pagination{
        margin-bottom: 50px;
    }

    .blog-posts.isotope li.blog-post.isotope-item{
        width: 100%;
    }

    .post-timeline{
        background: none;
    }

    .post-timeline-item,
    .post-timeline-item.post-timeline-left,
    .post-timeline-item.post-timeline-right{
        width: 100%;
        padding: 0;
    }

    .post-timeline-item.post-timeline-left::before, .post-timeline-item.post-timeline-right::before,
    .post-timeline-item.post-timeline-left::after, .post-timeline-item.post-timeline-right::after{
        display: none;
    }
    
    .fa-icons li, .linecons li{
        width: 50%;
    }
    
    .process-box-container.pbc-three-cols .process-box{
        width: 100%;
    }
    
    .process-box-circle .icon-container,
    .process-box-circle .icon-container i{
        width: 300px !important;
        height: 300px !important;
    }

    .page-title-7 .breadcrumbs-container .breadcrumb{
        float: none;
        display: table;
        margin: 0 auto;
    }
    
    .scroll-up{
        right: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    
    #top-bar-wrapper #top-bar{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .header-info-widgets{
        float: left;
        width: 100%;
    }
    
    .header-info-widgets ul{
        margin: 0 auto;
        display: table;
    }
    
    .navbar-nav.pi-nav{
        display: none;
    }

    #dl-menu{
        display: block;
        max-width: 800px;
    }

    .collapse.navbar-collapse{
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar-header,
    #header.header-type-1 .nav-left .navbar-header{
        float: none;
    }

    .logo{
        display: table;
        margin: 30px auto;
    }
    
    .header-type-2 .header-inner .container-fluid .main-nav{
        width: 100%;
    }

    .navbar{
        min-height: 45px;
    }

    .header-type-2.dark .container-fluid{
        background-color: transparent;
    }

    .header-type-2 #search, .header-type-2 .search-submit{
        min-height: 45px;
        background-color: #333;
    }

    .header-type-2 .logo{
        display: table;
        float: none;
    }

    .header-type-2 #search, .header-type-2.light .search-submit{
        background-color: #fff;
    }

    .header-type-2.light .header-inner .container-fluid{
        background-color: transparent;
        border: none;
    }

    .header-type-2 .header-inner .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;        
    }

    #search{
        margin-left: 0;
        right: 30px;
    }

    #search,
    .search-submit{
        min-height: 45px;
    }
    
    .info-box .text-container .big{
        font-size: 21px;
    }
    
    .service-box-3{
        margin-right: 0;
    }
    
    .col-md-2.isotope-item{
        width: 33.33333333%;
    }
    
    .tabs.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical{
        width: 100%;
        margin-top: 20px;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
    }

    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    #under-construction .page-content .container{
        position: inherit;
        top: initial;
        left: initial;
        margin-left: 0;
    }
    
    .under-construction-container-inner{
        margin-top: 120px !important;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px){
       #page-wrapper{
        width: 970px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 979px){
   .tb-megamenu .nav > li > a {

     line-height: 27px;
    }
    .tb-megamenu .nav-collapse .nav > li > a {
  font-size: 13px !important;
  margin-bottom: 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    .tb-megamenu .nav > li > a {

     line-height: 27px;
    }
    #page-wrapper{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    
    #page-wrapper{
        width: 750px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    #header-wrapper{
        position: inherit;
    }
    
    #header-wrapper + *{
        margin-top: 0 !important;
    }
    
    #page-wrapper{
        width: 100%;
    }
}